<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/webStyle.css">
    <script defer src="../static/scriptJS.js"></script>
</head>
<body id="outputPage">
<nav class="nav_bar">
    <ul>
        <li><a href="homePage.html">Home</a></li>
        <li><a href="searchCourt.html">search</a></li>
        <li><a href="login.html">Log in</a></li>
        <li><a href="signUP.html">Sign up</a></li>
        <li><a href="myOrders.html">My Orders</a></li>
    </ul>
</nav>
<div class="output_container">
    <h1 class="page-title">Search Results</h1>
    <div class="card-grid">
        <div class="card">
            <img class="card-img-top" src="../web_images/football.png" alt="Court Image">
            <div class="card-body">
                <h5 class="card-title">Court Name</h5>
                <p class="card-text">Location, Size, Surface Type, Availability</p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../web_images/football.png" alt="Court Image">
            <div class="card-body">
                <h5 class="card-title">Court Name</h5>
                <p class="card-text">Location, Size, Surface Type, Availability</p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../web_images/football.png" alt="Court Image">
            <div class="card-body">
                <h5 class="card-title">Court Name</h5>
                <p class="card-text">Location, Size, Surface Type, Availability</p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</div>
<div class="background-image2"></div>
<div class="overlay2"></div>
<footer>
    <span class="footer-text">Design by Oriya Sheetrit and Ohad Kiperman</span>
    <i class="fas fa-circle"></i>
    <span class="footer-text">&copy; 2023 Company Name. All rights reserved.</span>
</footer>
</body>
</html>
