<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webStyle.css">
    <script defer src="scriptJS.js"></script>
    <title>Home</title>
</head>
<body id="homePage">
<div class="greeting">
    <h1 id="greeting-message"></h1>
</div>
<h1 class="logo_home">find your court</h1>
<div class="buttonsContainer">
    <button class="homeBT spin" id="homeSP" role="button"><a href="http://localhost:3000/signUP">Sign up</a></button>
    <button class="homeBT spin" role="button"><a href="http://localhost:3000/login">Log in</a></button>
</div>
<div class="background-image"></div>
<div class="overlay"></div>
<footer>
    <span class="footer-text">Design by Oriya Sheetrit and Ohad Kiperman</span>
    <i class="fas fa-circle"></i>
    <span class="footer-text">&copy; 2023 Company Name. All rights reserved.</span>
</footer>

</body>
</html>