doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='webStyle.css')
    script(defer='' src='scriptJS.js')
    title Login
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
nav.nav_bar
  ul
    if(userIsLogged)
        li
            a(href='http://localhost:3000/logout') Log Out
        li
            a(href='http://localhost:3000/profile') Profile
        li
            a(href='http://localhost:3000/searchCourt') search
        li
            a(href='http://localhost:3000/myOrders') My Orders
    else
        li
            a(href='http://localhost:3000/homePage') Home
        li
            a(href='http://localhost:3000/login') Log in
        li
            a(href='http://localhost:3000/signUP') sign up
block content
footer
  span.footer-text Design by Oriya Sheetrit and Ohad Kiperman
  i.fas.fa-circle
  span.footer-text &copy; 2023 Company Name. All rights reserved.