<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webStyle.css">
    <script defer src="scriptJS.js"></script>
    <title>Login</title>
</head>
<body id="login">
<nav class="nav_bar">
    <ul>

        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/searchCourt">search</a></li>
        <li id="log_out_nav"><a href="http://localhost:3000">Log out</a></li>
        <li><a href="http://localhost:3000/login">Log in</a></li>
<!--        <li><a href="http://localhost:3000/signUP">Sign up</a></li>-->
        <li><a href="http://localhost:3000/myOrders">My Orders</a></li>
    </ul>
</nav>
<div class="middle_container">
    <h1 class="signUpHead">Login</h1>
    <div class="form_container">
        <div class="form_style">
            <form action="/userLogin" id="FormLogin" method="post">
                <div class="form_row">
                    <label for="email">Email:</label>
                    <input type="email" class="input_field" id="email" name="email" placeholder="Email" required><br>
                </div>
                <div class="form_row">
                    <label>Password:</label>
                    <input type="password" class="input_field" id="loginPassword" name="password" placeholder="Password"
                           required><br>
                    <img src="http://localhost:3000/hide" id="eyeIcon">
                </div>
                <div class="form_row">
                    <div class="remember_me_container">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me" id="rememberLabel">Remember me</label>
                    </div>
                </div>
                <div class="signUpBT">
                    <button type="submit">Log in</button>
                </div>
                <div class="form_row">
                    <div class="options">
                        <a href="#">Forgot password?</a>
                        <span class="divider">|</span>
                        <a href="http://localhost:3000/signUP">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="background-image2"></div>
<div class="overlay2"></div>
<footer>
    <span class="footer-text">Design by Oriya Sheetrit and Ohad Kiperman</span>
    <i class="fas fa-circle"></i>
    <span class="footer-text">&copy; 2023 Company Name. All rights reserved.</span>
</footer>
</body>
</html>