<!DOCTYPE html>
<html>
<head>
    <title>My Orders</title>
    <link rel="stylesheet" href="webStyle.css">
    <script defer src="scriptJS.js"></script>
</head>
<body class="myOrders" id="myOrdersPage">
<nav class="nav_bar">
    <ul>
         <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/searchCourt">search</a></li>
        <li><a href="http://localhost:3000/login">Log in</a></li>
        <li><a href="http://localhost:3000/signUP">Sign up</a></li>
        <li><a href="http://localhost:3000/myOrders">My Orders</a></li>
    </ul>
</nav>
<div class="container">
    <div class="orders">
        <h2>My Orders</h2>
        <table class="my-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>City</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Gan daniel</td>
                <td>May 12, 2023</td>
                <td><i class="clock"></i> 10:00 AM</td>
                <td> Haifa</td>
                <td>
                    <button class="cancel-btn">Cancel</button>
                </td>
            </tr>
            <tr>
                <td>kades</td>
                <td>May 13, 2023</td>
                <td><i class="clock"></i> 2:00 PM</td>
                <td>Beer Sheva</td>
                <td>
                    <button class="cancel-btn">Cancel</button>
                </td>
            </tr>
            <tr>
                <td>Gordon</td>
                <td>May 14, 2023</td>
                <td><i class="clock"></i> 4:00 PM</td>
                <td>Tel Aviv</td>
                <td>
                    <button class="cancel-btn">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="background-image2"></div>
<div class="overlay2"></div>
<footer>
    <span class="footer-text">Design by Oriya Sheetrit and Ohad Kiperman</span>
    <i class="fas fa-circle"></i>
    <span class="footer-text">&copy; 2023 Find My Court. All rights reserved.</span>
</footer>
</body>
</html>